<h1>User Details</h1>
<%= form_with method: :post, url: "/abouts" do |i| %>

  <p>
    <%= i.label :FirstName %>
    <%= i.text_field :text %>
  </p>

  <p>
    <%= i.label :LastName %>
    <%= i.text_area :text %>
  </p>

  <p>
    <%= i.submit %>
  </p>

  

<% end %>
