<h1 class="text-center">Edit User Details</h1>
<%= form_with model: @user, url: user_detail_path, method: :patch do |form| %>
  <%= form.label :user, 'User :' %>
  <%= form.radio_button :user_type, 'admin' %>
  <%= form.label :user_type_admin, 'Admin' %>
  <%= form.radio_button :user_type, 'customer' %>
  <%= form.label :user_type_customer, 'Customer' %><br>

  <%= form.label :first_name, 'First Name' %><br>
  <%= form.text_field :first_name %><br>
  <%= form.label :last_name, 'Last Name' %><br>
  <%= form.text_field :last_name%><br>
  <%= form.label :phone, 'Phone Number' %><br>
  <%= form.telephone_field :phone%>  <br>
  <%= form.label :alter_phone, 'Alter Phone' %><br>
  <%= form.telephone_field :alter_phone %><br>
  <%= form.label :email, 'email' %><br>
  <%= form.email_field :email %><br>
  <%= form.label :alter_email, 'Alternate email' %><br>
  <%= form.email_field :alter_email %><br>
  <%= form.label :aadhar_no, 'Aadhar Number ' %><br>
  <%= form.text_field :aadhar_no%><br>  
  <%= form.label :pan_no, 'Pan Number' %><br>
  <%= form.text_field :pan_no%><br>
  <%= form.label :bio, 'About Yourself' %><br>
  <%= form.text_area :bio %><br> 


  <%= form.submit 'Update' %>
<% end %>

