<h1 class="text-center">UserDetails</h1>
  
ID: <%=@user.id %><br>
User Type: <%=@user.user_type %><br>
First_Name: <%=@user.first_name %><br>
Last Name: <%=@user.last_name %><br>
address: <%=@user.address %><br>
email: <%=@user.email %><br>
alter_email: <%=@user.alter_email %><br>
Phone Number: <%=@user.phone %><br>
Alter number: <%=@user.alter_phone %><br>
Aadhar number: <%=@user.aadhar_no %><br>
Pan number: <%=@user.pan_no %><br>

<%= link_to 'Back', user_details_path %><br>
